<ion-app>
  <!--
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>
        <ion-list id="inbox-list">
          <ion-list-header translate="evento.name"></ion-list-header>
          <ion-note translate="evento.description"></ion-note>

          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages; let i = index">
            <ion-item routerDirection="root" [routerLink]="[p.url]" lines="none" detail="false" routerLinkActive="selected">
              <ion-icon slot="start" [ios]="p.icon + '-outline'" [md]="p.icon + '-sharp'"></ion-icon>
              <ion-label>{{ p.title  | translate}}</ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>

      </ion-content>
    </ion-menu>

  </ion-split-pane>
  -->

  <ion-tabs #tabs (ionTabsWillChange)="selectedTab = $event.tab">

    <ion-tab-bar id="main-header" color="primary" slot="top">
      <app-wrapped-content>
        <ion-col size="2" class="ion-text-start">
          <img id="main-logo" src="assets/img/logo.png">
        </ion-col>
        <ion-col size="10" class="ion-text-end">
            <span class="tab-button" [class.selected]="selectedTab === 'payload-catalog'"
                  (click)="tabs.select('payload-catalog')" translate="catalog.payload.title"></span>
          <span class="tab-button" [class.selected]="selectedTab === 'component-catalog'"
                (click)="tabs.select('component-catalog')" translate="catalog.component.title"></span>
          <span class="tab-button" [class.selected]="selectedTab === 'domain-catalog'"
                (click)="tabs.select('domain-catalog')" translate="catalog.domain.title"></span>
          <span class="tab-button" [class.selected]="selectedTab === 'application-flows/all'"
                (click)="tabs.select('application-flows/all')" translate="application.flows.title"></span>
          <span class="tab-button" [class.selected]="selectedTab === 'bundle-list'"
                (click)="tabs.select('bundle-list')" translate="bundle.title"></span>
          <span class="tab-button" [class.selected]="selectedTab === 'cluster-status'"
                (click)="tabs.select('cluster-status')" translate="cluster.title"></span>
          <span class="tab-button" [class.selected]="selectedTab === 'application-map'"
                (click)="tabs.select('application-map')" translate="application.map.title"></span>

        </ion-col>
      </app-wrapped-content>

    </ion-tab-bar>

  </ion-tabs>
</ion-app>
