<ion-app>
  <ion-tabs #tabs (ionTabsWillChange)="selectedTab = $event.tab">

    <ion-tab-bar id="main-header" color="primary" slot="top">
      <app-wrapped-content>
        <ion-col size="3" class="ion-text-start">
          <img id="main-logo" src="assets/img/logo.png" routerLink="/">
        </ion-col>
        <ion-col size="9" class="ion-text-end">

          <div class="tab-button" [class.selected]="selectedTab === 'system-state-store'"
               (click)="tabs.select('system-state-store')" translate="system.state.store"></div>

          <div class="tab-button" [class.selected]="selectedTab === 'application-graph'"
                (click)="tabs.select('application-graph')" translate="application.graph.title"></div>
          <div class="tab-button" [class.selected]="selectedTab === 'application-flows'"
               (click)="tabs.select('application-flows')" translate="application.flows.title"></div>
          <div class="tab-button" [class.selected]="selectedTab === 'cluster-status'"
               (click)="tabs.select('cluster-status')" translate="cluster.title"></div>
          <div class="tab-button" [class.selected]="selectedTab === 'bundle-list'"
               (click)="tabs.select('bundle-list')" translate="bundle.title"></div>
          <div class="tab-button" [class.selected]="selectedTab === 'component-catalog'"
               (click)="tabs.select('component-catalog')" translate="catalog.component.title"></div>
          <div class="tab-button" [class.selected]="selectedTab === 'payload-catalog'"
               (click)="tabs.select('payload-catalog')" translate="catalog.payload.title"></div>
        </ion-col>
      </app-wrapped-content>

    </ion-tab-bar>

  </ion-tabs>
</ion-app>
