<ion-content>
  <app-wrapped-content>
    <ion-grid *ngIf="component">
      <ion-row>
        <ion-col size="9" class="line-right">
          <ion-row class="ion-margin-top line-under">
            <ion-col size="10">
              <ion-title>
                <h1  style="white-space: normal">{{component.componentName}}
                  <ion-chip [class]="'component-type-' + component.componentType">{{component.componentType}}</ion-chip>
                </h1>
              </ion-title>
              <div class="ion-margin-top"></div>
              <ion-text >{{component.description}}</ion-text>
            </ion-col>
            <ion-col class="ion-text-end" size="2">
              <ng-container *ngIf="component.path">
                <ion-buttons class="ion-float-end">
                  <ion-button href="{{component.path}}#L{{component.line}}" target="_blank">
                    <ion-icon slot="icon-only" [name]="component.path | repositoryLogo"></ion-icon>
                  </ion-button>
                </ion-buttons>
              </ng-container>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <markdown [data]="component.detail"></markdown>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-title class="ion-padding-bottom" style="font-weight: bold"
                         translate="component.handlers.consume.produce.diagram"></ion-title>
              <app-component-handlers-diagram [component]="component"></app-component-handlers-diagram>
              @if(component.componentType == 'Aggregate'){
                <app-aggregate-telemetry [component]="component"></app-aggregate-telemetry>

              }@else{
                <app-component-telemetry [component]="component"></app-component-telemetry>

              }
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col class="ion-text-end">
              <ion-note><span translate="common.last.update"></span>: {{component.updatedAt * 1000 | date}}</ion-note>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="3" class=" ion-padding-start">
          <ion-row class="line-under"></ion-row>
          <ion-row class="line-under">
            <ion-col>
              <div style="margin: 16px 0 5px 5px">
                <ion-text>
                  <ion-icon color="success" name="cube"></ion-icon>
                  <ion-note style="margin-left: 5px; font-weight: 500" translate="common.bundle"></ion-note>
                </ion-text>
              </div>
              <div>
                <ion-chip outline="true" routerLink="/bundle-info/{{component.bundleId}}">
                  <ion-text [style.color]="component.bundleColor" style="font-size: 25px">•
                  </ion-text>&nbsp;{{component.bundleId}}</ion-chip>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="line-under">
            <ion-col>
              <div style="margin: 16px 0 5px 5px">
                <ion-text>
                  <ion-icon color="primary" name="at"></ion-icon>
                  <ion-note style="margin-left: 5px; font-weight: 500" translate="component.handlers"></ion-note>
                </ion-text>
              </div>
              <div *ngFor="let h of component.handlers">
                <ion-chip [id]="h.uuid" outline="true" *ngIf="h.handlerType !== 'EventSourcingHandler'"
                          routerLink="/payload-info/{{h.handledPayload.name}}">
                  <ion-text class="dot payload-type-{{h.handledPayload.type}}" style="font-size: 25px">•</ion-text>&nbsp;{{h.handledPayload.name}}
                </ion-chip>
                <ion-popover *ngIf="h.path" [trigger]="h.uuid" triggerAction="context-menu">
                  <ng-template>
                    <ion-item  href="{{h.path}}#L{{h.line}}" target="_blank" tappable="true">
                      <ion-label style="padding-left: 16px" translate="common.open.repository"></ion-label>
                      <ion-icon [name]="h.path | repositoryLogo" slot="end"></ion-icon>
                    </ion-item>
                  </ng-template>
                </ion-popover>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="line-under" *ngIf="['Aggregate','Service'].includes(component.componentType)">
            <ion-col>
              <div style="margin: 16px 0 5px 5px">
                <ion-text>
                  <ion-icon color="success" name="mail"></ion-icon>
                  <ion-note style="margin-left: 5px; font-weight: 500" translate="component.publications"></ion-note>
                </ion-text>
              </div>
              <div *ngFor="let h of component.handlers">
                <ion-chip outline="true" *ngIf="h.returnType" routerLink="/payload-info/{{h.returnType.name}}">
                  <ion-text class="dot payload-type-{{h.returnType.type}}" style="font-size: 25px">•
                  </ion-text>&nbsp;{{h.returnType.name}}
                </ion-chip>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="line-under" *ngIf="component.invocations.length">
            <ion-col>
              <div style="margin: 16px 0 5px 5px">
                <ion-text>
                  <ion-icon color="secondary" name="cube"></ion-icon>
                  <ion-note style="margin-left: 5px; font-weight: 500" translate="component.invocations"></ion-note>
                </ion-text>
              </div>
              <div *ngFor="let i of component.invocations">
                <ion-chip [id]="i.name" outline="true" routerLink="/payload-info/{{i.name}}">
                  <ion-text class="dot payload-type-{{i.type}}" style="font-size: 25px">•</ion-text>&nbsp;{{i.name}}
                </ion-chip>
                <ion-popover *ngIf="component.path" [trigger]="i.name" triggerAction="context-menu">
                  <ng-template>
                    <ion-item *ngFor="let l of i.lines"  href="{{component.path}}#L{{l}}" target="_blank" tappable="true">
                      <ion-label style="padding-left: 16px" ><span translate="common.open.repository"></span> ({{l}})</ion-label>
                      <ion-icon [name]="component.path | repositoryLogo" slot="end"></ion-icon>
                    </ion-item>
                  </ng-template>
                </ion-popover>
              </div>
            </ion-col>
          </ion-row>

          <ion-row class="line-under" *ngIf="component.domains.length">
            <ion-col>
              <div style="margin: 16px 0 5px 5px">
                <ion-text>
                  <ion-icon color="warning" name="folder-open"></ion-icon>
                  <ion-note style="margin-left: 5px; font-weight: 500" translate="common.domain"></ion-note>
                </ion-text>
              </div>
              <div *ngFor="let domain of component.domains">
                <ion-chip outline="true">
                  <ion-text color="warning" style="font-size: 25px">•</ion-text>&nbsp;{{domain}}</ion-chip>
              </div>

            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>


    </ion-grid>
  </app-wrapped-content>

</ion-content>
