// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

:root {
  --ion-color-primary: #002121;
  --ion-color-primary-rgb: 0,33,33;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #001d1d;
  --ion-color-primary-tint: #1a3737;

  --ion-color-secondary: #2D4D4D;
  --ion-color-secondary-rgb: 45,77,77;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255,255,255;
  --ion-color-secondary-shade: #284444;
  --ion-color-secondary-tint: #425f5f;

  --ion-color-tertiary: #DE7340;
  --ion-color-tertiary-rgb: 222,115,64;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #c36538;
  --ion-color-tertiary-tint: #e18153;

  --ion-color-success: #00C597;
  --ion-color-success-rgb: 0,197,151;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #00ad85;
  --ion-color-success-tint: #1acba1;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-medium: #95B1B0;
  --ion-color-medium-rgb: 149,177,176;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #839c9b;
  --ion-color-medium-tint: #a0b9b8;

  --ion-color-light: #F1F1E6;
  --ion-color-light-rgb: 241,241,230;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d4d4ca;
  --ion-color-light-tint: #f2f2e9;

}

