<ion-modal #modal class="modal-medium">
  <ng-template>
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title class="ion-padding-start" translate="sss.event.detail"></ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      <ion-title>
        <h1 class="ion-padding-bottom"><a routerLink="/payload-info/{{event.eventName}}" (click)="modal.dismiss()">{{ event.eventName }}</a> ({{ event.eventSequenceNumber }})</h1>
        <ion-grid class="ion-no-padding ion-margin-top line-under">
          <ion-row>
            @if(event.aggregateId){

              <ion-col>
                {{'sss.events.aggregate.id' | translate}}: {{event.aggregateId}}
              </ion-col>
            }
            <ion-col>
              {{'sss.events.context' | translate}}: {{event.context}}
            </ion-col>
            <ion-col>
              {{'sss.events.created.at' | translate}}:  {{ event.createdAt | date:'yyyy-MM-dd HH:mm:ss.SSS' }}
              @if (event.deletedAt) {
                <br/>
                <small>{{ event.deletedAt | date:'yyyy-MM-dd HH:mm:ss.SSS' }}
                </small>
              }
            </ion-col>

          </ion-row>
        </ion-grid>

      </ion-title>
      <ion-title class="ion-margin-top" translate="sss.events.event"></ion-title>
      <pre>{{ event.event | json }}</pre>
      <div class="line-under ion-margin-bottom"></div>
      <ion-title translate="sss.events.metadata"></ion-title>
      <ion-grid class="ion-no-padding">
        <ion-row *ngFor="let k of event.metadata | keyvalue" class="line-under ion-margin-top">
          <ion-col size="4">{{ k.key }}</ion-col>
          <ion-col size="8">{{ k.value }}</ion-col>
        </ion-row>
      </ion-grid>

    </ion-content>

  </ng-template>
</ion-modal>
