<ion-modal #modal class="modal-medium">
  <ng-template>
    <ion-header>
      <ion-toolbar color="secondary">
        <ion-title class="ion-padding-start">{{ 'sss.event.detail' | translate }}</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="modal.dismiss()">
            <ion-icon slot="icon-only" name="close"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>
    <ion-content class="ion-padding">
      @if (event) {
        <ion-title>
          <h1 class="ion-padding-bottom"><a routerLink="/payload-info/{{event.eventName}}" (click)="modal.dismiss()">{{ event.eventName }}</a> ({{ event.eventSequenceNumber }})</h1>
          <ion-grid class="ion-no-padding ion-margin-top line-under">
            <ion-row>
              @if(event.aggregateId){
                <ion-col>
                  {{'sss.events.aggregate.id' | translate}}: {{event.aggregateId}}
                </ion-col>
              }
              <ion-col>
                {{'sss.events.context' | translate}}: {{event.context}}
              </ion-col>
              <ion-col>
                {{'sss.events.created.at' | translate}}:  {{ event.createdAt | date:'yyyy-MM-dd HH:mm:ss.SSS' }}
                @if (event.deletedAt) {
                  <br/>
                  <small>{{ event.deletedAt | date:'yyyy-MM-dd HH:mm:ss.SSS' }}
                  </small>
                }
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-title>
        <ion-title class="ion-margin-top">{{ 'sss.events.event' | translate }}</ion-title>
        <div class="code-block">
          <ion-button class="code-block-copy" fill="clear" size="small" (click)="copyPayload()">
            <ion-icon slot="icon-only" name="copy-outline"></ion-icon>
          </ion-button>
          <pre>{{ event.event | json }}</pre>
        </div>
        <ion-title class="ion-margin-top">{{ 'sss.events.metadata' | translate }}</ion-title>
        <div class="evento-table-wrap ion-margin-top">
          <table class="evento-table">
            <thead>
              <tr>
                <th scope="col">{{ 'common.key' | translate }}</th>
                <th scope="col">{{ 'common.value' | translate }}</th>
              </tr>
            </thead>
            <tbody>
              @for (k of event.metadata | keyvalue; track k.key) {
                <tr>
                  <td class="cell-mono">{{ k.key }}</td>
                  <td>{{ k.value }}</td>
                </tr>
              } @empty {
                <tr>
                  <td colspan="2">
                    <div class="empty-state">
                      <p>{{ 'common.no.results' | translate }}</p>
                    </div>
                  </td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      }
    </ion-content>
  </ng-template>
</ion-modal>
