

<ion-content>
<app-wrapped-content>
  <ion-grid *ngIf="payload">
    <ion-row class="ion-margin-top line-under">
      <ion-col>
        <ion-title><h1>{{payload.name}}</h1></ion-title>
        <div class="ion-margin-top"></div>
        <ion-text >{{payload.description}}</ion-text>
      </ion-col>
      <ion-col size="1">
        <ion-button fill="outline" color="medium" *ngIf="!isEditing" (click)="isEditing = true">
          <ion-icon slot="start" name="pencil"></ion-icon>
          <span translate="common.edit"></span>
        </ion-button>
        <ion-button color="primary" *ngIf="isEditing" (click)="save()">
          <ion-icon slot="start" name="save"></ion-icon>
          <span translate="common.save"></span>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</app-wrapped-content>
</ion-content>
