/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.payload-type-DomainCommand {
  --background: #3399fe;
  --color: white;
}

.payload-type-ServiceCommand {
  --background: #ff68b9;
  --color: black;
}


.payload-type-DomainEvent {
  --background: #ff992a;
  --color: black;
}

.payload-type-ServiceEvent {
  --background: #cb3234;
  --color: black;
}

.payload-type-View {
  --background: #00CC00;
  --color: white;
}

.payload-type-Invocation {
  --background: grey;
  --color: white;
}

.payload-type-Query {
  --background: #FFD700;
  --color: black;
}


.dot.payload-type-DomainCommand {
  color: #3399fe;
}

.dot.payload-type-ServiceCommand {
  color: #ff68b9;
}


.dot.payload-type-DomainEvent {
  color: #ff992a;
}

.dot.payload-type-ServiceEvent {
  color: #cb3234;
}

.dot.payload-type-View {
  color: #00CC00;
}

.dot.payload-type-Invocation {
  color: grey;
}

.dot.payload-type-Query {
  color: gold;
}

.component-type-Aggregate {
  --background: blue;
  --color: white;
}

.component-type-Service {
  --background: red;
  --color: white;
}

.component-type-Projection {
  --background: lightgreen;
  --color: white;
}

.component-type-Projector {
  --background: #008000FF;
}

.component-type-Saga {
  --background: purple;
  --color: white;
}

.component-type-Observer {
  --background: black;
  --color: white;
}

.component-type-Invoker {
  --background: gray;
}

.dot.component-type-Aggregate {
  color: blue;
}

.dot.component-type-Service {
  color: red;
}

.dot.component-type-Projection {
  color: lightgreen;
}

.dot.component-type-Projector {
  color: green;
}

.dot.component-type-Saga {
  color: purple;
}

.dot.component-type-Observer {
  color: black;
}

.dot.component-type-Invoker {
  color: gray;
}

ion-card.component-type {
  ion-card-content {
    background: white;
    margin-left: 16px;
  }
}

ion-card.payload-type {
  ion-card-content {
    background: white;
    margin-left: 16px;
  }
}


ion-card.bundle {
  ion-card-content {
    background: white;
    margin-left: 16px;
  }
}


ion-item {
  --padding-start: 0;
}

ion-list-header {
  padding-inline-start: 0
}

body {
  font-family: 'Inter', sans-serif;
}

ion-title {
  padding: 0;

  h1 {
    font-weight: 800 !important;
    margin: 0;
  }
}


.line-under {
  --tw-border-opacity: 1;
  border: 0 solid rgba(229, 231, 235, var(--tw-border-opacity));
  box-sizing: border-box;

  padding-bottom: 26px;
  border-bottom-width: 1px;
}

.line-right {
  --tw-border-opacity: 1;

  padding-right: 26px;
}

.line-right:before {
  content: "";
  position: absolute;
  right: 0;
  bottom: 0;
  height: 80%;
  width: 1px; /* or 100px */
  border-right: 1px solid rgba(229, 231, 235, var(--tw-border-opacity));
}

* {

  font-family: 'Inter', sans-serif;
}

.title {
  font-weight: 700;
  font-size: .875rem;
  line-height: 1.25rem;
  color: black;

}

.flow {
  stroke-dasharray: 6;
  animation: dash 0.5s linear;
  animation-iteration-count: infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: -12;
  }
}


.editor{
  width: 100%;
  min-height: 100px;
  background: white;
}

.pipe{
  background-image: url('assets/img/pipe.png');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}


body div.mxPopupMenu {
  -webkit-box-shadow: 3px 3px 6px #C0C0C0;
  -moz-box-shadow: 3px 3px 6px #C0C0C0;
  box-shadow: 3px 3px 6px #C0C0C0;
  background: white;
  position: absolute;
  border: 3px solid #e7e7e7;
  padding: 3px;
}
body table.mxPopupMenu {
  border-collapse: collapse;
  margin: 0px;
}
body tr.mxPopupMenuItem {
  color: black;
  cursor: default;
}
body td.mxPopupMenuItem {
  padding: 6px 60px 6px 30px;
  font-family: Arial;
  font-size: 10pt;
}
body td.mxPopupMenuIcon {
  background-color: white;
  padding: 0px;
}
body tr.mxPopupMenuItemHover {
  background-color: #eeeeee;
  color: black;
}
table.mxPopupMenu hr {
  border-top: solid 1px #cccccc;
}
table.mxPopupMenu tr {
  font-size: 4pt;
}
