<ion-content>

  <app-wrapped-content>
    <ion-grid>
      <ion-row class="ion-margin-top">
        <ion-col>
          <ion-title><h1><span translate="cluster.title"></span></h1></ion-title>
        </ion-col>
        <ion-col>
          <ion-segment value="bundles" #segment>
            <ion-segment-button value="bundles">{{ 'cluster.bundles' | translate }}</ion-segment-button>
            <ion-segment-button value="consumers">{{ 'cluster.consumers' | translate }}</ion-segment-button>
          </ion-segment>
        </ion-col>
      </ion-row>
      @if (segment.value === 'bundles'){
        <ion-row class="line-under">
          @for (bundle of attendedView; track bundle) {
            <ion-col size="6">
              <ion-card class="bundle"  [style.background]="bundleColor[bundle]">
                <ion-card-content>
                  <ion-text class="title">{{bundle}}
                    <a routerLink="/bundle-info/{{bundle}}"><ion-icon name="open-outline"></ion-icon></a></ion-text>
                    <table class="evento-table evento-table--plain">
                      <tbody>
                        <tr>
                          <th scope="row"><span translate="common.status"></span>:</th>
                          <td class="cell-end">
                            @if (!view[bundle].isOnline) {
                              <b class="node-status-offline" translate="node.status.offline"></b>
                            }
                            @if (view[bundle].isOnline && !view[bundle].isAvailable) {
                              <b class="node-status-not-available" translate="node.status.not.available"></b>
                            }
                            @if (view[bundle].isOnline && view[bundle].isAvailable) {
                              <b class="node-status-available" translate="node.status.available"></b>
                            }
                          </td>
                        </tr>
                        @if (view[bundle].isOnline) {
                          <tr>
                            <th scope="row"><span translate="node.replica.count"></span>:</th>
                            <td class="cell-end cell-num">{{view[bundle].replicaCount}}</td>
                          </tr>
                        }
                        @for (replica of view[bundle].replicasKeys; track replica) {
                          <tr>
                            <th scope="row">{{view[bundle].replicas[replica].instanceId}} (v{{view[bundle].replicas[replica].bundleVersion}})</th>
                            <td class="cell-end">
                              @if (!view[bundle].replicas[replica].isAvailable) {
                                <b class="node-status-not-available" translate="node.status.not.available"></b>
                              }
                              @if (view[bundle].replicas[replica].isAvailable) {
                                <b class="node-status-available" translate="node.status.available"></b>
                              }
                            </td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            }
          </ion-row>
          <ion-row>
            <ion-title class="ion-margin" style="font-weight: bold">{{ 'cluster.external' | translate }}</ion-title>
          </ion-row>
          <ion-row>
            @for (component of externalView; track component) {
              <ion-col size="6">
                <ion-card class="bundle"  [style.background]="bundleColor[component]">
                  <ion-card-content>
                    <ion-text class="title">{{component}}</ion-text>
                    <table class="evento-table evento-table--plain">
                      <tbody>
                        <tr>
                          <th scope="row"><span translate="common.status"></span>:</th>
                          <td class="cell-end">
                            @if (!view[component].isOnline) {
                              <b class="node-status-offline" translate="node.status.offline"></b>
                            }
                            @if (view[component].isOnline && !view[component].isAvailable) {
                              <b class="node-status-not-available" translate="node.status.not.available"></b>
                            }
                            @if (view[component].isOnline && view[component].isAvailable) {
                              <b class="node-status-available" translate="node.status.available"></b>
                            }
                          </td>
                        </tr>
                        @if (view[component].isOnline) {
                          <tr>
                            <th scope="row"><span translate="node.replica.count"></span>:</th>
                            <td class="cell-end cell-num">{{view[component].replicaCount}}</td>
                          </tr>
                        }
                        @for (replica of view[component].replicasKeys; track replica) {
                          <tr>
                            <th scope="row">{{view[component].replicas[replica].instanceId}} (v{{view[component].replicas[replica].bundleVersion}})</th>
                            <td class="cell-end">
                              @if (!view[component].replicas[replica].isAvailable) {
                                <b class="node-status-not-available" translate="node.status.not.available"></b>
                              }
                              @if (view[component].replicas[replica].isAvailable) {
                                <b class="node-status-available" translate="node.status.available"></b>
                              }
                            </td>
                          </tr>
                        }
                      </tbody>
                    </table>
                  </ion-card-content>
                </ion-card>
              </ion-col>
            }
          </ion-row>
          }@else{
          <div class="line-under" style="width: 100%"></div>
          <app-consumers></app-consumers>
        }
      </ion-grid>


    </app-wrapped-content>

  </ion-content>
