<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title translate="cluster.status"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let component of attendedView">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{component}}
              <a  routerLink="/bundle-info/{{component}}"><ion-icon name="open-outline"></ion-icon></a>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col><span translate="cluster.status"></span>:</ion-col>
                <ion-col>
                  <ng-container *ngIf="!view[component].isOnline">
                    <b class="node-status-offline" translate="node.status.offline"></b>
                  </ng-container>
                  <ng-container *ngIf="view[component].isOnline && !view[component].isAvailable">
                    <b class="node-status-not-available" translate="node.status.not.available"></b>
                  </ng-container>
                  <ng-container *ngIf="view[component].isOnline && view[component].isAvailable">
                    <b class="node-status-available" translate="node.status.available"></b>
                  </ng-container>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="view[component].isOnline">
                <ion-col>
                  <span translate="node.replica.count"></span>:
                </ion-col>
                <ion-col>
                  {{view[component].replicaCount}}
                </ion-col>
              </ion-row>
              <ion-row *ngFor="let replica of view[component].replicasKeys">
                <ion-col size="6">{{view[component].replicas[replica].nodeId}} (v{{view[component].replicas[replica].bundleVersion}})</ion-col>
                <ion-col>
                  <ng-container *ngIf="!view[component].replicas[replica].isAvailable">
                    <b class="node-status-not-available" translate="node.status.not.available"></b>
                  </ng-container>
                  <ng-container *ngIf="view[component].replicas[replica].isAvailable">
                    <b class="node-status-available" translate="node.status.available"></b>
                  </ng-container>
                </ion-col>
                <ion-col>
                  <ion-button (click)="kill(view[component].replicas[replica])"
                              [disabled]="!view[component].replicas[replica]?.isAvailable" color="danger"  translate="cluster.node.kill">
                  </ion-button>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-button color="primary" (click)="spawnBundle(component)"
                            translate="cluster.node.spawn"></ion-button>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let component of externalView">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              {{component}} (<span translate="node.external"></span>)
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-grid>
              <ion-row>
                <ion-col><span translate="status"></span>:</ion-col>
                <ion-col>
                  <ng-container *ngIf="!view[component].isOnline">
                    <b class="node-status-offline" translate="node.status.offline"></b>
                  </ng-container>
                  <ng-container *ngIf="view[component].isOnline && !view[component].isAvailable">
                    <b class="node-status-not-available" translate="node.status.not.available"></b>
                  </ng-container>
                  <ng-container *ngIf="view[component].isOnline && view[component].isAvailable">
                    <b class="node-status-available" translate="node.status.available"></b>
                  </ng-container>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="view[component].isOnline">
                <ion-col>
                  <span translate="node.replica.count"></span>:
                </ion-col>
                <ion-col>
                  {{view[component].replicaCount}}
                </ion-col>
              </ion-row>
              <ion-row *ngFor="let replica of view[component].replicasKeys">
                <ion-col size="6">{{view[component].replicas[replica].nodeId}}</ion-col>
                <ion-col>
                  <ng-container *ngIf="!view[component].replicas[replica].isAvailable">
                    <b class="node-status-not-available" translate="node.status.not.available"></b>
                  </ng-container>
                  <ng-container *ngIf="view[component].replicas[replica].isAvailable">
                    <b class="node-status-available" translate="node.status.available"></b>
                  </ng-container>
                </ion-col>
                <ion-col>
                  <ion-button (click)="kill(view[component].replicas[replica])"
                              [disabled]="!view[component].replicas[replica]?.isAvailable" color="danger"
                              translate="cluster.node.kill"
                  ></ion-button>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
