
<ion-content>
  <app-wrapped-content>
    <ion-grid>
      <ion-row class="ion-margin-top line-under">
        <ion-col>
          <ion-title><h1><span translate="catalog.component.title"></span> ({{allComponents.length}})</h1></ion-title>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="3" class="filters">
          <ion-row class="line-under ion-padding-vertical">
            <ion-text class="title" translate="catalog.component.search"></ion-text>
            <ion-searchbar (ionChange)="checkFilters()" [(ngModel)]="search" mode="ios"
            class="ion-no-padding"></ion-searchbar>
          </ion-row>
          <ion-row class="line-under ion-padding-vertical">
            <ion-col>
              <ion-text class="title" translate="catalog.component.type.filter"></ion-text>
              <div class="ion-margin-top"></div>
              @for (type of types; track type) {
                <ion-item lines="none">
                  <ion-label>
                    <ion-chip class="component-type-{{type}}">{{type}}</ion-chip>
                  </ion-label>
                  <ion-checkbox [(ngModel)]="selectedTypes[type]" (ionChange)="checkFilters()"
                  slot="start"></ion-checkbox>
                </ion-item>
              }

            </ion-col>

          </ion-row>
          <ion-row class="line-under ion-padding-vertical">
            <ion-col>
              <ion-text class="title" translate="catalog.component.domain.filter"></ion-text>
              <div class="ion-margin-top"></div>
              @for (domain of domains; track domain) {
                <ion-item lines="none">
                  <ion-label>{{domain}}</ion-label>
                  <ion-checkbox [(ngModel)]="selectedDomains[domain]" (ionChange)="checkFilters()"
                  slot="start"></ion-checkbox>
                </ion-item>
              }

            </ion-col>

          </ion-row>
          <ion-row class="line-under ion-padding-vertical">
            <ion-col>
              <ion-text class="title" translate="catalog.component.bundle.filter"></ion-text>
              <div class="ion-margin-top"></div>
              @for (bundle of bundles; track bundle) {
                <ion-item lines="none">
                  <ion-label>{{bundle}}</ion-label>
                  <ion-checkbox [(ngModel)]="selectedBundles[bundle]" (ionChange)="checkFilters()"
                  slot="start"></ion-checkbox>
                </ion-item>
              }

            </ion-col>

          </ion-row>
        </ion-col>
        <ion-col class="ion-padding-start" size="9">
          <ion-card-subtitle class="ion-padding-vertical">
            <span>{{(allComponents.length > components.length ? 'component.filter' : 'component.all') | translate}}</span> (@if (allComponents.length > components.length) {
            <span>{{components.length}}/</span>
            }{{allComponents.length}})
          </ion-card-subtitle>
          @if (!loaded) {
            <app-card-skeleton [count]="6" size="6"></app-card-skeleton>
          } @else if (components.length === 0) {
            <div class="empty-state">
              <ion-icon name="search-outline" aria-hidden="true"></ion-icon>
              <p translate="common.no.results"></p>
            </div>
          } @else {
          <ion-row>
            @for (component of components; track component) {
              <ion-col size="6">
                <ion-card [class]="'component-type component-type-' + component.componentType" routerLink="/component-info/{{component.componentName}}">
                  <ion-card-content>
                    <ion-text class="title">{{component.componentName}}</ion-text>
                    <ion-text color="dark"><p>{{component.description}}</p></ion-text>
                    <ion-chip color="primary">
                      <ion-icon name="at"></ion-icon>
                      <ion-label><span translate="component.handlers"></span> ({{component.handledMessages}})</ion-label>
                    </ion-chip>
                    @if (['Aggregate','Service'].includes(component.componentType)) {
                      <ion-chip color="success">
                        <ion-icon name="mail"></ion-icon>
                        <ion-label><span translate="component.publications"></span> ({{component.producedMessages}})</ion-label>
                      </ion-chip>
                    }
                    @if (component.invocations) {
                      <ion-chip color="secondary">
                        <ion-icon name="cube"></ion-icon>
                        <ion-label><span translate="component.invocations"></span> ({{component.invocations}})</ion-label>
                      </ion-chip>
                    }
                    @for (domain of component.domains; track domain) {
                      <ion-chip color="warning">
                        <ion-icon name="folder-open"></ion-icon>
                        <ion-label>{{domain}}</ion-label>
                      </ion-chip>
                    }
                  </ion-card-content>
                </ion-card>
              </ion-col>
            }
          </ion-row>
          }
        </ion-col>
      </ion-row>
    </ion-grid>
  </app-wrapped-content>
</ion-content>


